weblab-editor {
    position: relative;
    overflow: hidden;
    display: flex;
}
.codemirror-wrapper{
    flex-grow: 1;
    position: relative;
    overflow-x: scroll;
}
.codemirror-wrapper > .cm-editor {
    height: 100%;
}